.cmp-play {
  .header {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    .round-title {
      text-align: center;
      width: 200px;
    }
  }
  .btn-block {
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 10px auto;
  }
  .players-block {
    display: flex;
    justify-content: space-between;
  }
}
